.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: first baseline; 
  padding-left: center; 
  justify-content: center;
}
.background h1{
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
}
.login-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
}
