.login-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.login h1{
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  flex-direction: column;
  gap: 10px;
}
